<!DOCTYPE html>
<html>
<head>
</head>
<body>
<h1>AcmePages#home</h1>
<ul>
<li><%= link_to "Create ads", createAds_path  %></li>
<li><%= link_to "Create newspapers", '#'  %></li>
<li><%= link_to "Add ad to paper", '#'  %></li>
</ul>
</body>
</html>
